@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")


<div class="jumbotron main-banner" style="background: url('/Images/bookBanner.jpg') no-repeat center center;">
    <h1> <br /> </h1>
    <p class="lead"> <br /> </p>
</div>
<div class="jumbotron main-banner">
    <h1>Stutor</h1>
    <p class="lead">Stutor is a free web application that allows students to connect with student tutors within their university.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Stutor</h2>
        <p>
            Stutor is a platform for college students to offer their tutoring services to other students and manage their schedule.
        </p>
    </div>
    <div class="col-md-4">
        <h2>As a Tutor</h2>
        <p>Not only will being a tutor allow you to continue learning in a specific subject, but will allow you to gain valuable experience as a teacher and not to mention, it will look great on your resume!.</p>
    </div>
    <div class="col-md-4">
        <h2>How do I get Started?</h2>
        <p>Click the register button bellow. It's as easy as that!</p>
        <p>@Html.ActionLink("Get Started","Register", "Account", null, new { @class = "btn btn-default" })</p>        
    </div>
</div>
