body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse{
   background-color: #000033;
}

h1{
    font-family: Tahoma, Geneva, sans-serif;
    color: orange;
}

p{
    font-family: Tahoma, Geneva, sans-serif;
}

h2{
    font-family: Tahoma, Geneva, sans-serif;
    color: #F58B4C;
}

.banner-h2{
    color: white;
}

.blocks{
    border-left:1em solid white;
    background-color: #43ABC9;
}

.main-banner{
    background-color: #F58B4C;
}

.jumbotron > h1{
    color: white;
}
.jumbotron > p{
    color: white;
}

th {
    background-color: #43ABC9;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

td{
    font-family: Tahoma, Geneva, sans-serif;
    color: #107896;
}

.form-control{
    font-family: Tahoma, Geneva;
    color: #1496BB;
    border-color: none;
}