@model IEnumerable<StutorDataObjects.SubjectArea>


@{
    ViewBag.Title = "Request A Tutor";
}


<h1>Select a Subject Area</h1>



@using (Html.BeginForm("SelectSubject", "RequestATutor", FormMethod.Post))
{
    @Html.DropDownList("SubjectAreaName", new SelectList(Model, "SubjectAreaName", "SubjectAreaName"), new { id = "dropdown" })

    <input type="submit" value="Continue" class="btn btn-default" />
}