@model IEnumerable<StutorDataObjects.SubjectArea>


@{
    ViewBag.Title = "Request A Tutor";
}


<h2>Select a Subject Area</h2>



@using (Html.BeginForm("SelectSubject", "RequestATutor", FormMethod.Post))
{
    @Html.DropDownList("SubjectAreaName", new SelectList(Model, "SubjectAreaName", "SubjectAreaName"), new { @class = "form-control" })

    <input type="submit" value="Continue" class="btn btn-primary" />
}